@import "scss/mixins.scss";
.header {
  position: fixed;
  width: -webkit-fill-available;
  z-index: 310;
  top: 0;
  padding: 0 42px;
  box-shadow: 0 1px 3px 0 #00000026;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  height: 44px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.489);
  &__left,
  &__right {
    display: flex;
    align-items: center;
    & * {
      display: block;
      svg {
        stroke: #ffffde;

      }
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 6px;
      }
    }
  }

  @include respond(tab-port) {
    padding: 0 12px;
  }
}

.avatar__img {
  border-radius: 50%;
  border: 1px solid grey;
}

.quick-add-task_dark {
  width: 28px;
  height: 28px;
  position: absolute;
}


.quick-add-task {
  display: flex; /* Align children in a row */
  align-items: center; /* Vertically center-align items */
  cursor: pointer; /* Change cursor to indicate clickable */
  margin-left: 5px; /* Space between the text and the icon */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.quick-add-task:hover {
  background-color: orangered; /* Change background color on hover */
  border-radius: 4px; /* Optional: add rounded corners */
}

.quick-add-task__text {
  margin-left: 8px; /* Space between the text and the icon */
  font-weight: bold; /* Make the text bold */
}
